<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Resolve Systems App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
    <h1>Navegação</h1>
    <ion-button [href]="'/botoes/'" routerDirection="forward" expand="full">Botões</ion-button>
    <br />
    <ion-button (click)="abrirLista()" expand="full">Lista</ion-button>
    <br />
    <ion-button (click)="abrirGrid()">GRID</ion-button>
    <br />
    <ion-button (click)="abrirEntradaDados()">Entrada de Dados</ion-button>
    <br />
    <ion-button (click)="abrirDataBinding()">Data Binding</ion-button>
    <br />
    <ion-button (click)="abrirAlcoolXGasolina()" expand="full">Alcool X Gasolina</ion-button>
</ion-content>